@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
body{
    font-family: poppins;
}

#home1 {
    background: linear-gradient(79.56deg, #8A2387 -0.28%, #E94057 58.61%, #F27121 111%);
}
#home2 {
    padding-left: 5rem;
    padding-top: 8rem;
    color: white;
    text-align: justify;
}
.home3 {
    font-weight: 600;
    font-size: 1.5rem;
}
.home4 {
    font-weight: 900;
    font-size: 3.2em;
}
.home5 {
    margin-top: 2rem;
    margin-bottom: 5rem;
    border: none;
    border-radius: 0.3rem;
    font-size: 1.3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: #B33073;
}
#home6 {
    /* background-size: 100% 100%; */
    padding-top: 8rem;
}
.home7 {
    text-align: center;
    font-weight: 900;
    font-size: 1.5rem;
    padding-top: 3rem;
}
.home8 {
    text-align: justify;
    font-size: 0.8rem;
    padding-bottom: 3rem;
}
.home9 {
    width: 60%;
    margin: auto;
}
#home10 {
    width: 100%;
    /* box-shadow: 0rem 1rem 2rem 0rem; */
    box-shadow: 0px 5px 3.92px 0.08px rgba(6, 0, 19, 0.51);
    border-radius: 1rem;
    margin-right: 2.5rem;
}
#home11 {
    display: flex;
    justify-content: center;
}
.home12 {
    width: 10rem;
    height: 9rem;
    border: 19px solid black;
    border-radius: 2rem;
    padding: 1rem;
    /* display: flex;
    justify-content: center; */
}
.home13 {
    font-weight: 900;
    font-size: 2rem;
    text-align: center;
}
.home14 {
    font-size: 0.6rem;
    font-weight: bold;
    text-align: center;
    line-height: 0;
}
#home15 {
    display: flex;
    justify-content: space-evenly;
}
.home16 {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #87C700;
}
.home17 {
    font-size: 0.4rem;
    font-weight: bold;
    text-align: center;
    line-height: 0;
}